.about-header {
  position: relative;
  margin: 30px 0 10px;
}

.about-header .avatar {
  float: left;
}

.about-header .avatar img {
  width: 96px;
  border-radius: 55px !important;
  -webkit-border-radius: 55px !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.25) !important;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25) !important;
}

.about-header .profile {
  padding: 2px 0 0 120px;
}

.about-header .profile h3,
.about-header .profile h4 {
  text-shadow: rgba(255,255,255,0.9) 0 1px 0;
  margin: 0 0 10px;
}

.about-social {
  float: right;
  margin-bottom: 10px;
}

.about-social ul {
  list-style: none;
}

.about-social ul li {
  float: left;
  margin-left: 10px;
}
@media screen and (max-width:580px) {
  .about-social ul li {
    margin-left: 0;
  }
}

.about-social .github {
  background: url("images/github.png");
}

ul.about-tag {
  list-style: none;
  margin-left: -40px !important;
}

ul.about-tag li {
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width:580px) {
  .douban-book {
    display: none;
  }
}
.douban-book td {
  border-bottom: 0 !important;
}

.douban-book td img {
  width: 105px; 
  height: 110px;
}

.about-license svg {
  float: left;
}

.about-license .license {
  padding: 12px 0 0 80px;
}